body{
    margin-left: 40%;
    margin-top:50px;
}
.triangle_1{
    width: 0;
    height: 0px;
  border-left: 150px solid white;
  border-right: 150px solid white;
  border-bottom: 150px solid red;
}

.triangle_2{
    width: 0;
    height: 0px;
  border-left: 150px solid white;
  border-right: 150px solid white;
  border-bottom: 150px solid rgb(45, 0, 243);
}

.triangle_3{
    width: 0;
    height: 0px;
  border-left: 150px solid white;
  border-right: 150px solid white;
  border-bottom: 150px solid rgb(13, 116, 4);
}